trigger: none

pool: default

stages:
  - template: yogesh/install.yml

  - template: yogesh/init.yml

  - stage: stage3
    displayName: CodeScanningwithTFlint
    jobs:
      - template: yogesh/scan.yml


  - stage: stage4
    displayName: CodeScanningwithtfsec
    jobs:
      - job: CodeScanningwithtfsec
        displayName: CodeScanningwithtfsec
        steps:
          - template: yogesh/tfsecscan.yml
