trigger: none

pool: default

stages:
  - template: yogesh/install.yml

  - template: yogesh/init.yml

  - stage: stage3
    displayName: CodeScanningwithTFlint
    jobs:
      - template: yogesh/scan.yml


  # - stage: stage4
  #   displayName: CodeScanningwithtfsec
  #   jobs:
  #     - job: CodeScanningwithtfsec
  #       displayName: CodeScanningwithtfsec
  #       steps:
  #       - task: tfsec@1
  #         inputs:
  #           version: 'v1.26.0'
  #           dir: '$(System.DefaultWorkingDirectory)'
